.Rproj.user
.Rhistory
.RData
.Ruserdata
markov_model_tutorial_post.qmd
markov_model_tutorial_post.md
markov_model_tutorial_post.html
markov_model_tutorial_post_files/
markov_model_tutorial_post.markdown_strict_files/